@import url('https://fonts.googleapis.com/css?family=Inconsolata');
/*
    Style for https://hakansson.xyz by Alexander Håkansson

    #22364E     - Blue
    #1D3045     - Darker blue
    #44D18D     - Accent green
    #FFF0D5     - Yellowish White
*/

* {
    margin: 0;
    padding: 0;

    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

html {
    background-color: #22364E;
    color: #44D18D;
}

.logo {
    background-color: #22364e;
    display: block;
    border-style: solid;
    border-width: 0.25rem;
    border-color: #44d18d;
    color: #44d18d;
    font-family: 'Inconsolata', monospace;
    font-size: 5rem;
    padding: 1.5rem;
}

.logo-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 4rem;
    width: 8.5rem;
    height: 8.5rem;
}

.bottom-sheet {
    text-align: center;

    padding-top: 2rem;

    position: fixed;
    bottom: 0;
    left: 0;
    height: 33vh;
    min-height: 15rem;
    width: 100%;

    background-color: #1D3045;
}

.bottom-sheet h1 {
    font-size: 2.5em;
}

.bottom-sheet h2 {
    font-size: 2em;
    color: #FFF0D5;
}

.bottom-sheet h3 {
    font-size: 1.25em;
    color: #FFF0D5;
}

.social-icons {
    position: absolute;

    bottom: 2.5rem;
    left: 0;
    right: 0;
    margin: auto;
}

.social-icons img {
    width: 3rem;
    height: 3rem;
}

/* Desktop specifc below */
@media only screen and (min-width: 800px) {

    .bottom-sheet .info {
        text-align: left;

        margin-left: 5rem;
        position: absolute;
        top: 50%;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .bottom-sheet h1 {
        font-size: 2.75em;
    }

    .bottom-sheet h2 {
        font-size: 2.25em;
    }

    .bottom-sheet h3 {
        font-size: 1.75em;
    }

    .bottom-sheet .social-icons {
        text-align: right;
        height: 3rem;

        margin-right: 5rem;
        position: absolute;
        top: 25%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .logo-wrapper {
        position: absolute;
        left: 5rem;
        margin: 0;
        margin-top: 4rem;
    }
}
